<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <p class="footer-subheading">{{- site.description | escape -}}</p>
    <p class="footer-claim">
      Created with 💖 by <a href="https://xiphe.net">Hannes</a> in
      <a href="https://goo.gl/maps/mu46M2uBjmJpDLuN6">🌊 Tarifa</a>
    </p>
    <nav>
      <small>
        <a href="https://github.com/Xiphe/budgetbudget"
          ><svg class="svg-icon">
            <use
              xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"
            ></use>
          </svg>
          <span class="username">GitHub</span></a
        >
        &bull; <a href="/impressum">Impressum</a> &bull;
        <a href="/datenschutz">Datenschutz</a>
      </small>
    </nav>
  </div>
</footer>
